python-docx
docxtpl
fastapi[standard]
uvicorn
pydantic
pydantic-settings
python-dotenv
requests
numpy
langchain-core
langchain_google_genai
langgraph
litellm
psycopg2-binary
langchain
langchain-community